{% extends 'base_sidebar.html' %}
{% load static %}
{% block style %}

<style>
  .table-header {
    background-color: #65a3c4;
    border-radius: 8px;
  }
  .table.table-hover {
    border-radius: 8px;
  }
  
  body {
    background-color: #EBF2EA;
  }
  
  tbody {
    background-color: white;
  }
  
  .mr-auto+.ms-auto {
    margin-left: 5px;
  }
  .active-tab {
    background-color: #65A3C4 !important;
  }
  .tbl-container {
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .bdr {
    border-radius: 6px;
    overflow: hidden;
  }
  .tbl-container {
    margin-top: 50px;
    margin-left: 30px;
    max-width: 1050px;
    max-height: 550px; /* Set your desired height */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Optional: Disable horizontal scrolling */
  }
  .btn-custom {
    width: 180px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 1px;
    background: #00241B;
    
  }
  
  .btn-archive{
    background-color: #FBE7E4; 
    color: #952D2D;
  }
  
  /* Add this CSS to style the archived rows */
  .archived-row {
    background-color: #dddddd !important;
    color: #888888 !important;
  }
  
</style>

{% endblock %}

{% block active_tab_manageTables %}
active active-tab
{% endblock %}

{% block content%}
<div class="container" style="color: #0077B6; font-size: 32px; font-family: 'Fira Sans', sans-serif; font-style: normal; font-weight: 700; line-height: normal; text-transform: capitalize;">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb" style="position: absolute; top: 10%; margin-left: 15%; transform: translate(-50%, -50%); text-align: center; font-size: 25px; font-family: 'Fira Sans', sans-serif; font-style: normal; font-weight: 700; line-height: normal; text-transform: capitalize;">
      <li class="breadcrumb-item active" aria-current="page"> <a style="color: #0077B6;">Metadata Sources</a></li>
      <li class="breadcrumb-item active" aria-current="page"> <a style="color: #0077B6;">Metadata</a></li>
    </ol>
  </nav>
</div>

<!--METADATA TABLE-->
<div class="container" style="position: absolute; top: 48%; left: 60%;  width: 75%; transform: translate(-50%, -50%);">
  <div class="tbl-container bdr">
    <table class="table table-hover">
      <thead class="table-header" style="background-color: #65A3C4; color: #EBF2EA;border-radius: 8px;">
        <tr>
          <th scope="col" style="background-color: #65A3C4; color: #EBF2EA; width: 30%;">Name</th>
          <th scope="col" style="background-color: #65A3C4; color: #EBF2EA; width: 12%;"># of Schema</th>
          <th scope="col" style="background-color: #65A3C4; color: #EBF2EA; width: 12%;">Tables</th>
          <th scope="col" style="background-color: #65A3C4; color: #EBF2EA; width: 15%;">Actions</th>
        </tr>
      </thead>
      <tbody >
        {% for group in groups %}
        {% if request.user.groups.first.name != "Admin" and not group.is_archived %}
        <tr id="row-{{group.group_id}}">
          <td><span class="ms-2">{{ group.name }}</span></td>
          <td><span class="ms-2">{{ group.schema_num }}</span></td>
          <td><span class="ms-2">{{ group.table_num }}</span></td>
          <td>
            <a class="btn" style="background-color: #F1FBE4; color: #65A3C4;--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" href="{% url 'viewTables' group.group_id %}">View</a>
          </td>
        </tr>
        {% elif request.user.groups.first.name == "Admin" %}
        <tr id="row-{{group.group_id}}">
          <td class="{% if group.is_archived %}archived-row{% endif %}"><span class="ms-2">{{ group.name }}</span></td>
          <td class="{% if group.is_archived %}archived-row{% endif %}"><span class="ms-2">{{ group.schema_num }}</span></td>
          <td class="{% if group.is_archived %}archived-row{% endif %}"><span class="ms-2">{{ group.table_num }}</span></td>
          <td class="{% if group.is_archived %}archived-row{% endif %}">
            <a class="btn" style="background-color: #EBF2EA; color: #0077B6;--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" href="{% url 'viewTables' group.group_id %}">View</a>
            {% if group.is_archived %}
            <button type="button" class="btn btn-success" id="archiveBtn-{{group.group_id}}" onclick="archiveGroup({{ group.group_id }})" style=" --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color: #0077B6;">Restore</button>
            {% else %}
            <button type="button" class="btn btn-archive" id="archiveBtn-{{group.group_id}}" onclick="archiveGroup({{ group.group_id }})" style=" --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Archive</button>
            {% endif %}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>



<div id="successMessage" class="toast" style="position: absolute; top: 20px; right: 20px; z-index: 9999;">
  <div class="toast-header" style="background-color: #9BCBC8; color: #FAF3DD;">
    <strong class="mr-auto">Success</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body" style="background-color: white; color: #0077B6;">
    Data saved successfully!
  </div>
</div>


<script>
  function archiveGroup(groupId){
    $.ajax({
      url: 'http://localhost/admin/manage_tables/archive/'+groupId,
      success: function(response){
        var data = JSON.parse(response);
        var trElement = $("#row-" + groupId);
        var tdElements = trElement.find("td");
        var archiveBtn = $("#archiveBtn-" + groupId);
        tdElements.toggleClass("archived-row", data);
        archiveBtn
        .removeClass(data ? "btn-archive" : "btn-success")
        .addClass(data ? "btn-success" : "btn-archive")
        .text(data ? "Restore" : "Archive");
        
        toastr.success(data ? 'The Datapoint has been archived' : 'The Datapoint has been restored');
      }
    });
  }
  
  
  
  var option = {
    animation: true,
    delay: 2000
  };
  
  function Toasty() {
    var toastHTMLElement = document.getElementById("EpicToast");
    var toastElement = new bootstrap.Toast(toastHTMLElement, option);
    toastElement.show();
  }
  function saveForm(){
    var formValue = document.getElementById("message-text").value;
    
    //Perform saving logic here like send the form value to a server using AJAX, Display a success message or perform any desired actions -->
    var successMessage = document.getElementById("successMessage");
    var bootstrapToast = new bootstrap.Toast(successMessage);
    bootstrapToast.show();
    
    setTimeout(function() {
      bootstrapToast.hide();
    }, 3000);
    
    var modal = document.getElementById("exampleModal");
    var bootstrapModal = bootstrap.Modal.getInstance(modal);
    bootstrapModal.hide();
  }
</script>

{% endblock %}
