{% extends 'base_sidebar.html' %}
{% load static %}

{% block style %}
<style>
  .table-header {
    background-color: #65A3C4;
    border-radius: 8px;
  }
  
  .table.table-hover {
    border-radius: 8px;
  }
  
  body {
    background-color: #EBF2EA;
  }
  
  tbody {
    background-color: white;
  }
  
  .mr-auto+.ms-auto {
    margin-left: 5px;
  }
  
  .active-tab {
    background-color: #65A3C4 !important;
  }
  
  
  .bdr {
    border-radius: 6px;
    overflow: hidden;
  }
  
  .breadcrumb-item a {
    color: #0077B6;
  }
  
  .display-5 {
    color: #0077B6;
    text-align: center;
    font-size: 32px;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  .form-outline {
    position: relative;
  }
  
  .form-outline input {
    padding-right: 40px;
  }
  
  .form-outline label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-size: 14px;
    color: #495057;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  
  .form-outline input:focus ~ label,
  .form-outline input:valid ~ label {
    font-size: 12px;
    top: -20px;
    left: 0;
    color: #4A7C59;
  }
  
  .btn-outline-light {
    background-color: #68b0ab;
    color: #f1fbe4;
  }
  
  .btn-outline-light:hover {
    background-color: #4A7C59;
  }
  
  .table-header th {
    background-color: #8FC0A9;
    color: #FAF3DD;
  }
  
  .table td span {
    display: inline-block;
    min-width: 100px;
    padding-left: 10px;
  }
  
  .pagination {
    justify-content: center;
  }
  
  .pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #FAF3DD;
    border-color: #dee2e6;
  }
  
  .pagination .page-link {
    color: #4A7C59;
    background-color: #FAF3DD;
    border-color: #dee2e6;
  }
  
  .pagination .page-link:hover {
    color: #fff;
    background-color: #68b0ab;
    border-color: #68b0ab;
  }
  
  .pagination .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #68b0ab;
    border-color: #68b0ab;
  }
  
  .text-center {
    text-align: center;
    
  }
  .spacer {
    width: 50%; /* Adjust the value to control the spacing */
  }
  
  .dataTables_filter input {
    width: 65%;
    margin-bottom: 1em;
  }
  
  .dataTables_wrapper {
    margin-top: 1.5em; 
  }
  
  table.dataTable thead>tr>th.sorting {
    background-color: #8FC0A9;
    color:#FAF3DD;
    padding: 0.7em;
  }
  
  .dataTables_length select{
    background-color: black;
  }
  
</style>
{% endblock %}

{% block active_tab_manageTables %}
active active-tab
{% endblock %}

{% block content %}
<div class="container" style="color: #0077B6; font-size: 32px; font-family: 'Fira Sans', sans-serif; font-style: normal; font-weight: 700; line-height: normal; text-transform: capitalize;">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb" style="position: absolute; top: 10%; margin-left: 26.5%; transform: translate(-50%, -50%); text-align: center; font-size: 25px; font-family: 'Fira Sans', sans-serif; font-style: normal; font-weight: 700; line-height: normal; text-transform: capitalize;">
      <li class="breadcrumb-item active" aria-current="page"> <a style="color: #0077B6;">Metadata Sources</a></li>
      <li class="breadcrumb-item active" aria-current="page"> <a style="color: #0077B6;">Metadata</a></li>
      <li class="breadcrumb-item active" aria-current="page"> <a style="color: #03045E;">View {{ datasource }} </a></li>
    </ol>
  </nav>
</div>

<div class="container" style="margin-top: 10%;">
  <div class="row">
    <div class="col text-center">
      <div class="container">
        <div class="d-flex justify-content-between" style="width: 100%;">
          <div class="spacer"></div>
          {% if request.user.groups.first.name != 'Reader' %}
          <div class="d-flex justify-content-end" style="width: 20%;">
            <input type="hidden" id="csrf" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="annotation" id="annotationInput" value="[]">
            <button type="button" onclick="annotationSave()" id="annotationSaveBtn" class="btn btn-outline-light"  style="background-color:  #0077B6; color: #EBF2EA;">
              <i class="fas fa-save"></i> Save
            </button>
          </div>
          {% endif %}
        </div>
      </div>
  {% for table in tables %}
  <div class="container bdr">
    <h3 class="mt-5 h5 fw-bold" style="color:#0077B6;text-align: left;">{{ table.name }}</h3>
    <table class="table row-border compact" style="width:100%">
      <thead>
        <tr>
          <th scope="col" style="background-color: #65A3C4; color:#EBF2EA;">Column Name</th>
          <th scope="col" style="background-color: #65A3C4; color:#EBF2EA;">Data Type</th>
          <th scope="col" style="background-color: #65A3C4; color:#EBF2EA;">Sample Data</th>
          <th scope="col" style="background-color: #65A3C4; color:#EBF2EA;">Annotation</th>
        </tr>
      </thead>
      <tbody>
        {% for column in table.column_set.all %}
        <tr>
          <td class="px-2">{{ column.name }}</td>
          <td class="px-2">{{ column.datatype }}</td>
          {% if column.sample|length >= 25 %}
          <td class="px-2">{{ column.sample|slice:":25" }} ...</td>
          {% else %}
          <td class="px-2">{{ column.sample }}</td>
          {% endif %}
          <td>
            <div class="form-group">
              {% with latest_annotation=column.annotation_set.latest %}
              {% if latest_annotation %}
              <textarea class="form-control" name="annotationText" id="{{ column.column_id }}" row="1" {% if request.user.groups.first.name == 'Reader' %}disabled{% endif %}>{{ latest_annotation.comments }}</textarea>
              <span id="log-name-{{ column.column_id }}" class="text-muted" style="font-size:0.5em">Last Modifier: {{ latest_annotation.email.first_name }} {{ latest_annotation.email.last_name }}</span>
              <span id="log-email-{{ column.column_id }}" class="text-danger" style="font-size:0.5em">({{ latest_annotation.email.email}})</span>
              {% else %}
              <textarea class="form-control" name="annotationText" id="{{ column.column_id }}" row="1" {% if request.user.groups.first.name == 'Reader' %}disabled{% endif %}></textarea>
              <span id="log-name-{{ column.column_id }}" class="text-muted" style="font-size:0.5em"></span>
              <span id="log-email-{{ column.column_id }}" class="text-danger" style="font-size:0.5em"></span>
              {% endif %}
              {% endwith %}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div></div>
  {% endfor %}


<script>
  var editChange = [];
  $("textarea[name='annotationText']").on("change", function(){
    editChange.push({'id': $(this).attr("id"), 'annotate':$(this).val()});
    $("#annotationInput").val(JSON.stringify(editChange));
  });
  
  function annotationSave(){
    var data =  $("#annotationInput").val();
    var csrf = $("#csrf").val();
    $.ajax({
      url: "{% url 'annotationColumn' groupId %}",
      method: 'post',
      data: {
        annotation : data,
        csrfmiddlewaretoken: csrf
      },
      success: function(response){
        var dataParse = JSON.parse(JSON.stringify(response));
        for(var i=0; i<dataParse.length; i++){
          var name = "Last Modifier: "+ dataParse[i].name;
          $("#log-name-"+dataParse[i].id).text(name);
          $("#log-email-"+dataParse[i].id).text("("+dataParse[i].email+")");
        }
        toastr.success('Annotation saved successfully');
      },
    });
  };
  
  var datatable = new DataTable('.table');
</script>
{% endblock %}
