{% extends 'registration/login.html' %}
{% load static %} 
{% load widget_tweaks %}

{% block content %}
<body>
    <div class="login-page" style="position: relative; background-color: #EBF2EA; color: #0077B6; width: 100%; min-height: 100vh; overflow: hidden; text-align: center; font-size: 40.41px; font-family: var(--body-normal); display: flex; align-items: center; justify-content: center;">
        <div class="container" style="width: 40%; position: absolute; top: 10%; left: 30%; transform: translate(-50%, -50%); display: flex; flex-direction: column; align-items: center; justify-content: center; border-radius: var(--br-xl-2); background-color: #EBF2EA; box-shadow: 0 126.27031707763672px 332.09px rgba(34, 45, 32, 0.1), 0 52.752723693847656px 138.74px rgba(34, 45, 32, 0.07), 0 28.20412826538086px 74.18px rgba(34, 45, 32, 0.06), 0 15.811003684997559px 41.58px rgba(34, 45, 32, 0.05), 0 8.39710521697998px 22.08px rgba(34, 45, 32, 0.04), 0 3.4942235946655273px 9.19px rgba(34, 45, 32, 0.03); min-height: 600px; overflow: hidden; transform: rotate(-0.16deg); transform-origin: 0 0; margin-left: auto; margin-right: auto;">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <div class="welcome-back" style="position: absolute; top: 30%; left: 50%; transform: translateX(-50%); font-size: 40.41px; text-transform: capitalize; display: flex; font-family: var(--body-normal); color: #0077B6; text-align: center; align-items: center; width: 284.47px; height: 47.85px;">
                        <b>Welcome Back!</b>
                    </div>
                    <form method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <div class="form-floating mb-3" style="width: 750px; margin-left: -5%; margin-top: 20%">
                            {% render_field form.email class="form-control" id="floatingInput" placeholder="name@rcbc.com" style="width: 100%; max-width: 400px; left: 30%;" %}
                            <label for="floatingInput" style="font-size: 16px; margin-left: 5px;">Email address</label>
                        </div>
                        <div class="form-floating" style="margin-top: 20px; width: 400px; margin-left: -5%;">
                            {% render_field form.password type="password" class="form-control" id="floatingPassword" placeholder="Password" style="width: 100%;" %}
                            <label for="floatingPassword" style="font-size: 16px; margin-left: 5px;">Password</label>
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto">
                           <button type="submit" class="btn btn-success custom-button-submit" id="login-btn" style="position: absolute; top: 80%; left: 50%; transform: translate(-50%, -50%); width: 200px; height: 50px; border-radius: 300px; background-color: #0077B6; color: #EBF2EA;"><b>Login</b></button>
                        </div>
                    </form>
                    <div class="text-center">
                        <button class="btn btn-link custom-button-forgot" id="forgotpassword" style="position: absolute; top: 88%; left: 50%; transform: translate(-50%, -50%); width: 200px; height: 50px; color: #0077B6 !important; text-decoration: none !important; font-size: 35%;"><b>Having trouble logging in?</b></button>
                    </div>
                </div>
            </div>
            <div class="cata-logo1" style="position: absolute; top: 15%; left: 50%; transform: translate(-50%, -50%);">
                <img class="cata-logo2" style="width: 150px; height: auto;" src="{% static 'media/cata-logo5.png' %}" alt="" />
            </div>
        </div>
    </div>
</body>
{% endblock %}
