{% extends 'base_sidebar.html' %}
{% load static %}
{% block style %}
<style>
    .active-tab {background-color: #65A3C4 !important;}
</style>

{% endblock %}

{% block active_tab_aboutCata %}
active active-tab
{% endblock %}

{% block content %}
<body style="background-color: #EBF2EA;">
    <div class="container" style="font-size: 32px; font-family: 'Fira Sans', sans-serif; font-style: normal; font-weight: 700; line-height: normal; text-transform: capitalize;">
        <!-- Breadcrumb -->
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb" style="position: absolute; top: 10%; margin-left: 10%; transform: translate(-50%, -50%); text-align: center; font-size: 25px; font-family: 'Fira Sans', sans-serif; font-style: normal; font-weight: 700; line-height: normal; text-transform: capitalize;">
                <li class="breadcrumb-item" aria-current="page"> <a style="color: #0077B6;">About CATA</a></li>
            </ol>
        </nav>
    </div>

    
    <div class="container" style="margin-top: 15vh;">
        <!-- About Cata -->
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-10"> 
                    <p class="text-justify" style="text-align: justify; text-indent: 0.5in;">
                        <span style="font-weight: bold; color: #03045E">CATA</span> represents a sophisticated data dictionary web application designed to facilitate data comprehension for both new and existing members of the organization. This invaluable tool fosters seamless data exploration and collaboration among all stakeholders. By centralizing data definitions and promoting standardized terminology, <span style="font-weight: bold; color: #03045E">CATA</span> significantly improves clarity and empowers well-informed decision-making based on data-driven insights. Embracing <span style="font-weight: bold; color: #03045E">CATA</span> exemplifies a commitment to excellence, supporting the advancement of data-centric projects and fostering a culture that thrives on data-driven approaches.
                    </p>
                </div>
            </div>
        </div>
        
        <!-- About Logo -->
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-10 col-lg-10">
                <p class="text-left text-md-left" style="color: #0077B6; font-size: 25px; font-family: 'Fira Sans', sans-serif; font-style: normal; font-weight: 700; text-transform: capitalize;">
                    About the Logo
                </p>                
                <div class="d-md-flex align-items-center">
                    <img src="{% static 'media/cata-logo3.png' %}" class="img-thumbnail mr-md-4 mb-3 mb-md-0" style="width: 250px; height: auto; background-color: transparent; border: none;" alt="Logo">
                    <div>
                        <p class="text-justify" style="text-align: justify; text-indent: 0.5in;">
                            Our data dictionary web application prominently features a significant logo that effectively communicates the application's purpose, values, and capabilities in a visual manner. The logo symbolizes the concept of unlocking knowledge, enabling data accessibility, and providing a smooth user experience for navigating intricate datasets. Drawing inspiration from RCBC's hexagonal logo, our logo incorporates a distinctive key handle and key teeth while utilizing a complementary color palette to represent the company's six core values.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- User Manual -->
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-10 col-lg-10">
                <p class="text-left text-md-left" style="color: #0077B6; font-size: 25px; font-family: 'Fira Sans', sans-serif; font-style: normal; font-weight: 700; text-transform: capitalize;">
                    User Manual
                </p>                
                <div class="d-md-flex align-items-center">
                    <embed src="{% static 'CATA_User-Manual.pdf' %}" width="100%" height="600px">
                </div>
            </div>
        </div>

        <!-- Project Team -->
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-10 col-lg-10">
                <p class="text-left text-md-left" style="color: #0077B6; font-size: 25px; font-family: 'Fira Sans', sans-serif; font-style: normal; font-weight: 700; text-transform: capitalize;">
                    Project Team
                </p>                
                <div class="d-md-flex align-items-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <!--Jamaica-->
                            <div class="col-md-4 text-center">
                                <div class="d-flex flex-column align-items-center">
                                    <div class="rounded-circle" style="width: 100px; height: auto;">
                                        <img src="{% static 'media/team_profiles/jamaica-joy-angelo.jpg' %}" class="img-fluid rounded-circle">
                                    </div>
                                    <p>
                                        <span>
                                            Jamaica Joy S. Angelo
                                        </span><br>
                                        <span>
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                             jamaicaangelo@gmail.com
                                        </span><br>
                                        <span>
                                            <a class="link-opacity-25-hover" href="https://www.linkedin.com/in/jamaicaangelo/" style="color: #0077B6;">
                                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                                jamaicaangelo
                                            </a>                                            
                                        </span><br>
                                        <span>
                                            <em>Front-end Developer</em>
                                        </span><br>
                                        <span>
                                            <em> RCBC - DSAG Intern (2023) </em>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            
                            <!--Nicole-->
                            <div class="col-md-4 text-center">
                                <div class="d-flex flex-column align-items-center">
                                    <div class="rounded-circle" style="width: 100px; height: auto;">
                                        <img src="{% static 'media/team_profiles/nicole-anne-guzman.jpg' %}" class="img-fluid rounded-circle">
                                    </div>
                                    <p>
                                        <span>
                                            Nicole Anne R. Guzman
                                        </span><br>
                                        <span>
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                             guzmannicoleannerivera@gmail.com
                                        </span><br>
                                        <span>
                                            <a class="link-opacity-25-hover" href="https://www.linkedin.com/in/nicole-anne-guzman/" style="color: #0077B6;">
                                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                                nicole-anne-guzman
                                            </a>                                            
                                        </span><br>
                                        <span>
                                            <em>Front-end Developer</em>
                                        </span><br>
                                        <span>
                                            <em> RCBC - DSAG Intern (2023) </em>
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <!--Therese-->
                            <div class="col-md-4 text-center">
                                <div class="d-flex flex-column align-items-center">
                                    <div class="rounded-circle" style="width: 100px; height: auto;">
                                        <img src="{% static 'media/team_profiles/mary-therese-budomo.jpg' %}" class="img-fluid rounded-circle">
                                    </div>
                                    <p>
                                        <span>
                                            Mary Therese H. Budomo
                                        </span><br>
                                        <span>
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                             mtbudomo@gmail.com
                                        </span><br>
                                        <span>
                                            <a class="link-opacity-25-hover" href="https://www.linkedin.com/in/mary-therese-budomo-b8353421b/" style="color: #0077B6;">
                                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                                mary-therese-budomo
                                            </a>                                            
                                        </span><br>
                                        <span>
                                            <em>Front-end Developer</em>
                                        </span><br>
                                        <span>
                                            <em> RCBC - DSAG Intern (2023) </em>
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <!--Dom-->
                            <div class="col-md-4 text-center">
                                <div class="d-flex flex-column align-items-center">
                                    <div class="rounded-circle" style="width: 100px; height: auto;">
                                        <img src="{% static 'media/team_profiles/dominic-antigua.jpg' %}" class="img-fluid rounded-circle">
                                    </div>
                                    <p>
                                        <span>
                                            Dominic G. Antigua
                                        </span><br>
                                        <span>
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                             dominicantigua@gmail.com
                                        </span><br>
                                        <span>
                                            <a class="link-opacity-25-hover" href="https://www.linkedin.com/in/dominicantigua/" style="color: #0077B6;">
                                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                                dominicantigua
                                            </a>                                            
                                        </span><br>
                                        <span>
                                            <em>Back-end Developer</em>
                                        </span><br>
                                        <span>
                                            <em> RCBC - DSAG Intern (2023) </em>
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <!--Ezra-->
                            <div class="col-md-4 text-center">
                                <div class="d-flex flex-column align-items-center">
                                    <div class="rounded-circle" style="width: 100px; height: auto;">
                                        <img src="{% static 'media/team_profiles/ezra-daniel-delapeña.jpg' %}" class="img-fluid rounded-circle">
                                    </div>
                                    <p>
                                        <span>
                                            Ezra Daniel R. Dela Peña
                                        </span><br>
                                        <span>
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                             ezradanieldelapena03@gmail.com
                                        </span><br>
                                        <span>
                                            <a class="link-opacity-25-hover" href="https://www.linkedin.com/in/ezradanieldp03" style="color: #0077B6;">
                                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                                ezradanieldp03
                                            </a>                                            
                                        </span><br>
                                        <span>
                                            <em>Back-end Developer</em>
                                        </span><br>
                                        <span>
                                            <em> RCBC - DSAG Intern (2023) </em>
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <!--Alfonso-->
                            <div class="col-md-4 text-center">
                                <div class="d-flex flex-column align-items-center">
                                    <div class="rounded-circle" style="width: 100px; height: auto;">
                                        <img src="{% static 'media/team_profiles/alfonso-miguel-roldan.jpg' %}" class="img-fluid rounded-circle">
                                    </div>
                                    <p>
                                        <span>
                                            Alfonso Miguel R. Roldan
                                        </span><br>
                                        <span>
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                             roldanalfonso6@gmail.com
                                        </span><br>
                                        <span>
                                            <a class="link-opacity-25-hover" href="https://www.linkedin.com/in/fonsiidud" style="color: #0077B6;">
                                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                                fonsiidud
                                            </a>                                            
                                        </span><br>
                                        <span>
                                            <em>Back-end Developer</em>
                                        </span><br>
                                        <span>
                                            <em> RCBC - DSAG Intern (2023) </em>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Version -->
    <div class="d-flex justify-content-center align-items-center py-3">
        <p class="m-0" style="color: grey">CATA v1.0. 2023</p>
    </div>

      
</body>
{% endblock %}