body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --body-normal: "Fira Sans", sans-serif;
    --caption: Inter;
  
    /* font sizes */
    --font-size-5xl: 24px;
    --font-size-xl-2: 20.2px;
    --font-size-13xl: 32px;
    --font-size-21xl-4: 40.4px;
    --font-size-base-2: 15.2px;
    --font-size-11xl: 30px;
    --body-normal-size: 16px;
    --font-size-16xl: 35px;
    --font-size-mini: 15px;
    --font-size-3xs: 10px;
    --font-size-sm: 14px;
    --font-size-6xl: 25px;
    --caption-size: 13px;
  
    /* Colors */
    --color-beige-100: #f1fbe4;
    --color-beige-200: #faf3dd;
    --text-color-text-primary: #748674;
    --color-cadetblue-100: #68b0ab;
    --color-cadetblue-200: rgba(104, 176, 171, 0.67);
    --color-cadetblue-300: rgba(104, 176, 171, 0.66);
    --border-border-default: rgba(41, 65, 45, 0.12);
    --backgrounds-color-bg-surface: #fff;
    --color-seagreen-100: #4a7c59;
    --color-seagreen-200: rgba(74, 124, 89, 0.72);
    --color-floralwhite: #f6f4ed;
    --text-color-text-tertiary: #618062;
    --color-darkseagreen: #8fc0a9;
    --color-gainsboro-200: rgba(217, 217, 217, 0.43);
    --stroke: #eeeaf5;
    --color-lightcoral: #eb8e8e;
    --color-black: #000;
    --color-rosybrown: #b06868;
    --color-mistyrose: #fbe7e4;
    --color-brown: #952d2d;
    --color-olivedrab: #68952d;
  
    /* Gaps */
    --gap-xl-2: 20.2px;
    --gap-9xs: 4px;
    --gap-194xl: 213px;
    --gap-5xs: 8px;
    --gap-193xl: 212px;
    --gap-187xl: 206px;
  
    /* Paddings */
    --padding-base-2: 15.2px;
    --padding-xs: 12px;
    --padding-9xs: 4px;
    --padding-5xs: 8px;
  
    /* border radiuses */
    --br-21xl: 40px;
    --br-7xs-1: 5.1px;
    --br-31xl: 50px;
    --br-xl-2: 20.2px;
    --br-xl: 20px;
    --br-5xs: 8px;
    --br-xs: 12px;
    --br-23xl: 42px;
    --br-9xs: 4px;
  }
  