{% extends 'base_sidebar.html' %}
{% load widget_tweaks %}
{% load static %}
{% block style %}
<style>
    .active-tab {background-color: #65A3C4 !important;}
    .table-header {position: sticky; top: 0; z-index: 1;}
    .table-header th { background-color: #65A3C4; color: #EBF2EA;}
    .table-wrapper { height: 60vh; overflow-y: auto; position: fixed; top: 15%; margin-left: 0.5%; width: 70%;}
</style>

{% endblock %}

{% block active_tab_manageUsers %}
active active-tab
{% endblock %}

{% block content %}
<body style="background-color: #EBF2EA;">
    <div class="container" style="color: #4A7C59; font-size: 32px; font-family: 'Fira Sans', sans-serif; font-style: normal; font-weight: 700; line-height: normal; text-transform: capitalize;">
        <!-- Breadcrumb -->
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb" style="position: absolute; top: 10%; margin-left: 9.5%; transform: translate(-50%, -50%); text-align: center; font-size: 25px; font-family: 'Fira Sans', sans-serif; font-style: normal; font-weight: 700; line-height: normal; text-transform: capitalize;">
                <li class="breadcrumb-item" aria-current="page"> <a style="color: #0077B6;">Manage Users</a></li>
            </ol>
        </nav>
    </div>
    
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh; padding-top: 120px;">
        <div class="container" style="width: 90%; max-height: 75vh;">
            <div class="table-wrapper" style="height: 100%; overflow-y: auto;">
                <table class="table table-hover" style="position: relative;">
                    <!-- Table Header -->
                    <thead class="table-header">
                        <tr>
                            <th scope="col" style="width: 1%;">#</th>
                            <th scope="col" style="width: 12%;">Email Address</th>
                            <th scope="col" style="width: 12%;">Full Name</th>
                            <th scope="col" style="width: 5%;">Role</th>
                            <th scope="col" style="width: 7%;">Modify</th>
                        </tr>
                    </thead>
                    <tbody id="userTableBody">
                        {% for user in users %}
                        {% if user.is_visible and user.is_active %}
                        <tr>
                            <th scope="row">{{ user.id }}</th>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="ms-2">{{ user.email }}</span>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="ms-2">{{ user.first_name }} {{ user.last_name }}</span>
                                </div>
                            </td>
                            <td>
                                {% if user.groups.first %}
                                {% if user.groups.first.name == "Admin" %}
                                <span class="badge badge-secondary" style="background-color: #72B7DB; color: #EBF2EA;">
                                    {% elif user.groups.first.name == "Contributor" %}
                                    <span class="badge badge-secondary" style="background-color: #BDDBEB; color: #0077B6;">
                                        {% elif user.groups.first.name == "Reader" %}
                                        <span class="badge badge-secondary" style="background-color: #9BCBC8; color: #FAF3DD;">
                                            {% endif %}
                                            {{ user.groups.first.name }}</span>
                                            {% else %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <button type="button" onclick="fetchUserData('{{ user.id }}')" class="btn" style="background-color: #72B7DB; color: #EBF2EA;--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" data-bs-toggle="modal" data-bs-target="#editUserModal">Edit</button>
                                            <button type="button" class="btn delete-btn" style="background-color: #FBE7E4; color: #952D2D; --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" data-user-id="{{ user.id }}">Delete</button>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div id="fixedControls" style="position: fixed; bottom: 10px; margin-left: 33%; width: 70%; transform: translateX(-50%);">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn btn-outline-light btn-sm me-md-2 rounded-pill" type="button" style="background-color: #0077B6; color: #FAF3DD;" data-bs-toggle="modal" data-bs-target="#addUserModal">
                                    <b>Add User</b>
                                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                <nav aria-label="table navigation" class="text-center">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous" style="background-color: transparent; color:#0077B6;">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#" style="background-color: transparent; color:#0077B6;">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#" style="background-color: transparent; color:#0077B6;">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#" style="background-color: transparent; color:#0077B6;">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next" style="background-color: transparent; color:#0077B6;">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>                        
                        </div>
                    </div>
                </div>
                
                <!--Add User Modal-->
                <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content" style="background-color: #EBF2EA; color: #0077B6;">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="addUserModalLabel"><b>Add User</b></h1>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="{% url 'createUser' %}">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                    <label for="userName" class="form-label"><b>User</b>
                                        <div class="row g-3" id="email">
                                            <div class="mb-3">
                                                {{ createForm.email }}
                                            </div>
                                            <br>
                                            <div class="col-md">
                                                {{ createForm.first_name }}
                                            </div>
                                            <br>
                                            <div class="col-md">
                                                {{ createForm.last_name }}
                                            </div>    
                                            <br>
                                            <div class="mb-3">
                                                <label for="password" class="form-label"><b>Password</b></label>
                                                {{ createForm.password }}
                                            </div>
                                        </div>
                                    </label>
                                    <br>
                                    <div class="col-md">
                                        <label for="inputState" class="form-label"><b>Role</b></label>
                                        {% render_field createForm.groups class+="form-select" id="addRole" %}
                                    </div>
                                    
                                    <br>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal" style="background-color: #b06868; color: #f1fbe4;">Close</button>
                                        <input type="submit" class="btn btn-outline-light" style="background-color: #0077B6; color: #f1fbe4;" value="Add">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Edit User Modal-->
                <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content" style="background-color: #EBF2EA; color: #0077B6;">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="editUserModalLabel"><b>Edit User</b></h1>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="{% url 'editUser' %}">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                    <input type="hidden" id="editId" name="id" value="">
                                    <label for="userName" class="form-label"><b>User</b>
                                        <div class="row g-3" id="email">
                                            <div class="mb-3">
                                                {#<input type="text" class="form-control" id="firstName" placeholder="Email Adress" aria-label="email">#}
                                                {% render_field editForm.email name="email" class="form-control" id="editEmail" placeholder="Email Address" aria-label="email" %}
                                            </div>
                                            <div class="col-md">
                                                {#<input type="text" class="form-control" id="firstName" placeholder="First name" aria-label="First name">#}
                                                {% render_field editForm.first_name name="first_name" class="form-control" id="editFname" placeholder="First name" aria-label="First name"%}
                                            </div>
                                            <div class="col-md">
                                                {#<input type="text" class="form-control" id="lastName" placeholder="Last name" aria-label="Last name">#}
                                                {% render_field editForm.last_name name="last_name" class="form-control" id="editLname" placeholder="Last name" aria-label="Last name"%}
                                            </div>
                                        </div>
                                    </label>
                                    <div class="col-md">
                                        <label for="inputState" class="form-label"><b>Password</b></label>
                                        {% render_field editForm.password name="password" class="form-control" id="editPassword" placeholder="New Password" aria-label="Password"%}
                                    </div>
                                    <div class="col-md">
                                        <label for="inputState" class="form-label"><b>Role</b></label>
                                        {% render_field editForm.groups class+="form-select" id="editRole" %}
                                    </div>
                                    <br>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal" style="background-color: #b06868; color: #f1fbe4;">Close</button>
                                        <input type="submit" class="btn btn-outline-light" style="background-color: #0077B6; color: #f1fbe4;" value="Save">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Delete Confirmation Modal -->
                <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="background-color: #EBF2EA; color: #0077B6;">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteConfirmationModalLabel"><b>Confirm Deletion</b></h1>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this user?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-light" id="deleteUserButton" style="background-color: #b06868; color: #f1fbe4;">Delete</button>
                                <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal" style="background-color: #0077B6; color: #f1fbe4;">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <script>
                    var deleteUserId = null;
                    
                    $('#deleteConfirmationModal').on('show.bs.modal', function(event) {
                        var button = $(event.relatedTarget);
                        deleteUserId = button.data('user-id');
                    });
                    
                    $('#deleteUserButton').on('click', function() {
                        if (deleteUserId) {
                            $.ajax({
                                type: 'POST',
                                url: '/admin/user/delete/' + deleteUserId,
                                data: {
                                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                                },
                                success: function(response) {
                                    // Set the userDeleted flag in session storage
                                    sessionStorage.setItem('userDeleted', true);
                                    // Reload the page after successful deletion
                                    window.location.reload();
                                },
                                error: function(xhr, textStatus, errorThrown) {
                                    // Handle error response if needed
                                }
                            });
                        }
                    });
                    
                    // Check if userDeleted flag is set in session storage
                    var userDeleted = sessionStorage.getItem('userDeleted');
                    if (userDeleted) {
                        // Show the toast notification if the userDeleted flag is set
                        toastr.success('User successfully deleted');
                        // Remove the userDeleted flag from session storage
                        sessionStorage.removeItem('userDeleted');
                    }
                    
                </script>
                <script src="{% static 'js/main.js' %}"></script>
                {% endblock %}