{% extends 'base_sidebar.html' %}
{% load widget_tweaks %}
{% load static%}

{% block active_tab_ingestData %}
active active-tab
{% endblock %}

{% block content %}

<body style="background-color: #EBF2EA;">
  <div class="container" style="color: #0077B6; font-size: 32px; font-family: 'Fira Sans', sans-serif; font-style: normal; font-weight: 700; line-height: normal; text-transform: capitalize;">
    <!-- Breadcrumb -->
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb" style="position: absolute; top: 10%; left: 35%; transform: translate(-50%, -50%); text-align: center; font-size: 25px; font-family: 'Fira Sans', sans-serif; font-style: normal; font-weight: 700; line-height: normal; text-transform: capitalize;">
        <li class="breadcrumb-item" aria-current="page"> <a style="color: #0077B6;">Register Metadata</a></li>
        <li class="breadcrumb-item active" aria-current="page"> <a style="color: #0077B6;">Database</a></li>
      </ol>
    </nav>
  </div>
  
  <div class="container">
    <!-- Navigation Tabs -->
    <ul class="nav nav-pills" style="position: absolute; top:22%; left: 32.5%; transform: translate(-50%, -50%);">
      <li class="nav-item">
        <a class="nav-link active rounded-pill" aria-current="page" href="{% url 'ingestData'%}" style="background-color: #BDDBEB; color: #0077B6; font-size: 23px; font-family: 'Fira Sans', sans-serif; font-style: normal; font-weight: 700; line-height: normal; text-transform: capitalize;"><b>Database</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'process_csv' %}" style=" color: #0077B6; font-size: 23px; font-family: 'Fira Sans', sans-serif; font-style: normal; font-weight: 700; line-height: normal; text-transform: capitalize;"><b>Flat File</b></a>
      </li>
    </ul>
  </div>
  
  <form method="post" action="{% url 'ingestRdbms' %}">
    <div class="container" style="position: absolute; top: 57%; left: 60%; width: 72%; transform: translate(-50%, -50%);">
      <div class="row g-3">
        <div class="col-sm-6">
          <div class="row gy-2 gx-3 align-items-center">
            <div class="mb-3">
              <div class="input-group mb-3">
                <div class="input-group-text"><i class="fa-solid fa-database" aria-hidden="true" style="color: #0077B6;"></i></div> 
                {% render_field rdbmsForm.dbType class="form-select" id="databaseType"%}
              </div>
              <div class="input-group mb-3">
                <div class="input-group-text"><i class="fa fa-link" aria-hidden="true" style="color: #0077B6;"></i></div>
                {% render_field rdbmsForm.hostname class="form-control" id="databaseHostname" placeholder="Hostname" %}
              </div>
              <div class="input-group mb-3">
                <div class="input-group-text"><i class="fas fa-font" aria-hidden="true" style="color: #0077B6;"></i></div>
                {% render_field rdbmsForm.dbName class="form-control" id="databaseName" placeholder="Database Name" %}
              </div>
              <div class="input-group mb-3">
                <div class="input-group-text"><i class="fa-brands fa-usb" style="color: #0077B6;"></i></div>
                {% render_field rdbmsForm.port class="form-control" id="databasePort" value="3306" placeholder="Port" %}
              </div>
              <div class="input-group mb-3">
                <div class="input-group-text" style="color: #0077B6;">@</div>
                {% render_field rdbmsForm.username class="form-control" id="databaseUsername" placeholder="Username" %}
              </div>   
              <div class="input-group mb-3">
                <div class="input-group-text"><i id="eyeIcon" class="fa fa-eye-slash" aria-hidden="true" style="color: #0077B6; cursor: pointer;" onclick="togglePasswordVisibility()"></i></div>
                {% render_field rdbmsForm.password class="form-control" id="databasePassword" placeholder="Password" %}    
              </div>             
              <div class="d-grid gap-2 col-4 mx-auto">
                <button type="button" onclick="rdbmsProcess();" class="btn btn-outline-light me-md-2 rounded-pill" style="background-color: #0077B6; color: #EBF2EA;" id="goButton" disabled><b>Go</b></button>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Found Card -->
        <div class="col-sm-6" id="foundCard" style="display: none;">
          <div class="card">
            <h5 class="card-header" style="background-color: #65A3C4; color: #EBF2EA;">
              <i class="fa-solid fa-magnifying-glass"></i>
              <span class="ms-2">Found</span>
            </h5>
            <div class="card-body">
              <p class="card-text">
                <span class="ms-2" id="schemaDisplay">0 Schema</span>
              </p>
              <p class="card-text">
                <!--Clickable Table-->
                <!--a class="link-offset-3 link-opacity-25-hover link-underline-success" href="#" data-bs-toggle="modal" data-bs-target="#viewTableModal" onclick="openModal()">
                  <span class="ms-2" id="tablesDisplay" style="color:#4a7c59; font-style: bold;">2 Tables</span>
                  <span id="selectedTables" style="color:grey; font-style: italic;"></span></p>
                </a-->
                <a href="#" data-bs-toggle="modal" data-bs-target="#viewTableModal" onclick="openModal()"><span class="ms-2 btn btn-outline-primary" id="tableDisplay" style="outline-color: #0077B6;"></span></a>
                <span id="selectedTables" style="color:grey; font-style: italic;"></span>
              </p>
              <p class="card-text">
                <span class="ms-2" id="columnDisplay">0 Column</span>
              </p>
              <div class="d-flex justify-content-center">
                <div>
                  <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                  <input type="hidden" name="databaseName" id="databaseNameData" value=""/>
                  <input type="hidden" name="schemaNum" id="schemaNumData" value=""/>
                  <input type="hidden" name="columnNum" id="columnNumData" value=""/>
                  <button name="ingest" class="btn btn-outline-light rounded-pill me-1" type="submit" style="background-color: #0077B6; color: #EBF2EA;">
                    Register
                    <i class="fa fa-upload" style="color: #FAF3DD;"></i>
                  </button>
                </div>
                <div>
                  <button class="btn btn-outline-light rounded-pill ms-1" type="reset" style="background-color: #B06868; color: #EBF2EA;">
                    Cancel
                    <i class="fa fa-times" style="color: #EBF2EA;"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- View Table Modal -->
    <div class="modal fade" id="viewTableModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false"> 
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content" style="background-color:#EBF2EA; color: #0077B6  ;">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="viewTableModalLabel"><b>2 Tables</b></h1>
          </div>
          <div class="modal-body">
            <h6><em>Select Tables to Register:</em></h6>
            <div class="container" style="width: 100%">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="width: 3%; background-color: #65A3C4; color: #EBF2EA;">
                      <input type="checkbox" id="checkAll" onclick="toggleCheckboxes()">
                    </th>
                    <th scope="col" style="width: 60%; text-align: center; background-color: #65A3C4; color: #EBF2EA;">Table Name(s)</th>
                    <th scope="col" style="width: 25%; text-align: center; background-color: #65A3C4; color: #EBF2EA;">No. of Column(s)</th>
                  </tr>
                </thead>
                <tbody id="IngestSelectionDisplay">
                </tbody>
              </table>
            </div>
            
            <nav aria-label="table navigation">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous" style="background-color: transparent; color:#0077B6;">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#" style="background-color: transparent; color:#0077B6;">1</a></li>
                <li class="page-item"><a class="page-link" href="#" style="background-color: transparent; color:#0077B6;">2</a></li>
                <li class="page-item"><a class="page-link" href="#" style="background-color: transparent; color:#0077B6;">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next" style="background-color: transparent; color:#0077B6;">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
            
          </div>
          <div class="modal-footer">
            <div class="d-flex justify-content-center">
              <button class="btn btn-outline-light rounded-pill ms-1" type="reset" style="background-color: #B06868; color: #FAF3DD;" data-bs-dismiss="modal">
                Cancel
                <button class="btn btn-outline-light rounded-pill me-1" type="submit" onclick="selectTables(event)" style="background-color: #0077B6; color: #FAF3DD;">
                  Select
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    
    <!-- Loader Modal -->
    <div class="modal" id="loaderModal" tabindex="-1" role="dialog" aria-labelledby="loaderModalLabel" aria-hidden="false">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: transparent; border: none; box-shadow: none;">
          <div class="modal-body d-flex justify-content-center align-items-center">
            <div class="spinner-border" role="status" style="width: 3rem; height: 3rem; color: #72B7DB;">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <!--Error Modal-->
    <div class="modal fade" id="errorModal" name="errorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="errorLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #EBF2EA">
          <div class="modal-body" style="color: #b06868;">
            <div class="text-center">
              <i class="fa fa-question-circle fa-4x" style="color: #b06868; margin-bottom: 25px;"></i>
              <h1 class="h4 text-center">
                Something went wrong. Please make sure that all fields are correct.
              </h1>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col text-center">
              <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal" style="background-color: #b06868; color: #EBF2EA;">
                Continue
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script src="{% static 'js/main.js' %}"></script>
    <script>
      
      var success = sessionStorage.getItem('success');
      if (success) {
        toastr.success('Data saved to database successfully');
        sessionStorage.removeItem('success');
      }
      
      $('form').on('submit', function() {
        var isSaveButton = $(this).find('button[name="ingest"]').length > 0;
        if (isSaveButton) {
          sessionStorage.setItem('success', true);
        }
      });
      
      /* for checking first if input groups are filled*/
      function checkInputGroupsFilled() {
        var inputGroups = document.querySelectorAll('.input-group input');
        for (var i = 0; i < inputGroups.length; i++) {
          var input = inputGroups[i];
          if (!input.value) {
            return false;
          }
        }
        return true;
      }
      
      /* for enabling the Go button only when all fields are filled*/
      function enableDisableGoButton() {
        var goButton = document.getElementById('goButton');
        if (checkInputGroupsFilled()) {
          goButton.disabled = false;
        } else {
          goButton.disabled = true;
        }
      }
      var inputGroups = document.getElementsByClassName('input-group');
      for (var i = 0; i < inputGroups.length; i++) {
        var input = inputGroups[i].querySelector('input');
        if (input) {
          input.addEventListener('input', enableDisableGoButton);
        }
      }
      /* for retaining the inputted information on input fields even after clicking the Go button*/
      function storeInputValues() {
        var inputGroups = document.querySelectorAll('.input-group input');
        for (var i = 0; i < inputGroups.length; i++) {
          var input = inputGroups[i];
          localStorage.setItem(input.id, input.value);
        }
      }
      function populateInputValues() {
        var inputGroups = document.querySelectorAll('.input-group input');
        for (var i = 0; i < inputGroups.length; i++) {
          var input = inputGroups[i];
          var storedValue = localStorage.getItem(input.id);
          if (storedValue !== null) {
            input.value = storedValue;
          }
        }
      }
      window.onload = populateInputValues;
      document.querySelector('form').addEventListener('submit', storeInputValues);
      /*for password visibility toggle*/
      function togglePasswordVisibility() {
        const passwordInput = document.getElementById("databasePassword");
        const eyeIcon = document.getElementById("eyeIcon");
        if (passwordInput.type === "password") {
          passwordInput.type = "text";
          eyeIcon.classList.remove("fa-eye-slash");
          eyeIcon.classList.add("fa-eye");
        } else {
          passwordInput.type = "password";
          eyeIcon.classList.remove("fa-eye");
          eyeIcon.classList.add("fa-eye-slash");
        }
      }
    </script>
  </body>
  {% endblock %}
  