{% extends 'base_sidebar.html' %}

{% block active_tab_ingestData %}
active active-tab
{% endblock %} 

{% block content %}
<!--BREADCRUMB-->
<body style="background-color: #EBF2EA;">
  <div class="container custom-container-flatfile" style="color: #0077b6; font-size: 32px; font-family: 'Fira Sans', sans-serif; font-style: normal; font-weight: 700; line-height: normal; text-transform: capitalize;">
    <nav style="--bs-breadcrumb-divider: '>'; color: #0077B6;" aria-label="breadcrumb">
      <ol class="breadcrumb" style="position: absolute; top: 10%; left: 32.5%; transform: translate(-50%, -50%); text-align: center; font-size: 25px; font-family: 'Fira Sans', sans-serif; font-style: normal; font-weight: 700; line-height: normal; text-transform: capitalize;">
        <li class="breadcrumb-item" aria-current="page"> <a style="color: #0077B6;">Register Data </a></li>
        <li class="breadcrumb-item active" aria-current="page"> <a style="color: #0077B6;">Flat File</a></li>
      </ol>
    </nav>
  </div>
  
  
  <!--NAVIGATION PILLS-->
  <ul class="nav nav-pills" style="position: absolute; top:22%; left: 32.5%; transform: translate(-50%, -50%);">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ingestData' %}" style=" color: #0077B6; font-size: 23px; font-family: 'Fira Sans', sans-serif; font-style: normal; font-weight: 700; line-height: normal; text-transform: capitalize;"><b>Database</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active rounded-pill" aria-current="page" href="#" style="background-color: #BDDBEB; color: #0077B6; font-size: 23px; font-family: 'Fira Sans', sans-serif; font-style: normal; font-weight: 700; line-height: normal; text-transform: capitalize;"><b>Flat File</b></a>
    </li>
  </ul>
  
  <!--GENERATE TEMPLATE BUTTON-->
  <div class="input-group mb-4" style="max-width: 700px; margin: 0 auto; left: 15%; top: 45%; transform: translate(-50%, -50%);">
    <form method="post" action="{% url 'generate_template' %}">
      {% csrf_token %}
      <input type="hidden" name="col_name" value="a">
      <input type="hidden" name="data_type" value="str">
      <input type="hidden" name="sample" value="">
      <input type="hidden" name="description" value="bc">
      <button type="submit" class="btn btn-link" style="color: #0077B6; text-decoration: none; font-size: 16.8px; font-family: 'Fira Sans', sans-serif; font-style: normal;">
        <b>Generate Template</b>
      </button>
    </form>
  </div>
  
  <!--UPLOAD & INGEST-->
  <form id="csvForm" action="{% url 'process_csv' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="display: flex; align-items: center; max-width: 700px; margin: 0 auto; position: absolute; left: 39%; top: 50%; transform: translate(-50%, -50%)">
      <input type="file" class="form-control flex-grow-1" id="inputGroupFile02" name="csv_file" required>
      <button type="submit" class="btn btn-primary" name="ingest" style="background-color: #0077B6;">Register</button>
    </div>
  </form>
  
  {% for key, value in data.items %}
  <h2>{{ key }}</h2>
  {% endfor %}
  
  <!--CSV INFORMATION TABLE-->
  <div class="card w-50 mb-5" style="border: none; background-color: #EBF2EA; max-width: 57%; margin: 0 auto; left: 45%; top: 40.5%; transform: translate(-50%, -50%);">
    <div class="card-body">
      <h5 class="card-title" style="color: #0077B6;"><b>CSV Information</b></h5>
      <div class="container" style="max-height: 250px; overflow-y: auto; overflow-x: auto;">
        <table class="table table-hover">
          <thead class="table-header" style="background-color: #65A3C4; color: #EBF2EA;">
            <tr>
              <th scope="col" style="background-color: #65A3C4; color: #EBF2EA;">Column Name</th>
              <th scope="col" style="background-color: #65A3C4; color: #EBF2EA;">Data Type</th>
            </tr>
          </thead>
          <tbody>
            {% for column in column_info %}
            <tr>
              <td><span class="ms-2">{{ column.name }}</span></td>
              <td><span class="ms-2">{{ column.data_type }}</span></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="col text-start" style="color: #0077B6;">
          <span><b>Number of columns: {{ num_columns }}</b></span>
        </div>
      </div>
    </div>
  </div>
  
  <!--SAVE DATABASE-->
  <div class="d-flex justify-content-center mt-3" style="margin: 0 auto; position: absolute; top: 72.5%; left: 75%; transform: translate(-50%, -50%)">
    <form action="{% url 'process_csv' %}" method="post" class="d-flex">
      {% csrf_token %}
      <input type="hidden" name="csv_file" value="{{ csv_file }}">
      <input type="hidden" name="num_columns" value="{{ num_columns }}">
      <input type="hidden" name="column_info" value="{{ column_info }}">
      <button type="submit" class="btn btn-outline-light me-2" name="save" style="background-color: #65A3C4; color: #EBF2EA;" {% if x != 1 %}disabled{% endif %}>
        <i class="fa-solid fa-floppy-disk" style="color: #EBF2EA;"></i><b> Save to Database</b>
      </button>
    </form>
    <a class="nav-link" href="{% url 'process_csv' %}" style="color: #0077B6; font-size: 23px; font-family: 'Fira Sans', sans-serif; font-style: normal; font-weight: 700; line-height: normal; text-transform: capitalize;">
      <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal" style="background-color: #b06868; color: #EBF2EA;">
        <i class="fa fa-times-circle" aria-hidden="true"></i><b> Close</b>
      </button>
    </a>
  </div>
  
  <script>
    var success = sessionStorage.getItem('success');
    if (success) {
      toastr.success('Data saved to database successfully');
      sessionStorage.removeItem('success');
    }
    
    $('form').on('submit', function() {
      var isSaveButton = $(this).find('button[name="save"]').length > 0;
      if (isSaveButton) {
        sessionStorage.setItem('success', true);
      }
    });
  </script>
  {% endblock %}