{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    
    <link rel="icon" href="{% static 'media/cata-logo4.png' %}">
    <title>CATA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;0,700;1,700&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>  
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script> 
    
    {% block style %}
    <style>
        .active-tab {
            background-color: #65A3C4 !important;
        }
    </style>
    {% endblock %}
    
    <!-- script for clicking a tab in the sidebar -->
    <script>
        $(document).ready(function() {
            $('.nav-link').click(function() {
                $('.nav-link').removeClass('active-tab');
                $(this).addClass('active-tab');
            });
        });
    </script>
</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="d-flex flex-column p-3 px-3 pt-2 min-vh-100"
            style="width: 280px; min-height: -webkit-fill-available; background-color: #03045E;">
            <a href="{% url 'handleUser' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none" style="color: #EBF2EA; margin-left: 62px; margin-top: 5px;">
                <img src="{% static 'media/cata-logo4.png' %}" alt="Logo" width="40" height="40" style="margin-right: 10px; margin-top: 5px;">
                <span class="fs-4" href="/">CATA</span>
            </a>
            <hr>
            {% block navigation %}
            <ul class="nav nav-pills flex-column mb-auto">
                {% if request.user.groups.first.name == "Admin" %}
                <li class="nav-item">
                    <a href="{% url 'manageUsers' %}" class="nav-link {% block active_tab_manageUsers %}{% endblock %} align-middle px-4" aria-current="page"
                    style="color: #EBF2EA;">
                    <span class="bi me-2">
                        <span class="fas fa-users"></span>
                        Manage Users
                        
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'ingestData' %}" class="nav-link {% block active_tab_ingestData %}{% endblock %} align-middle px-4" aria-current="page"style="color: #EBF2EA;">
                    <span class="bi me-2">
                        <span class="fas fa-upload"></span>
                        Register Metadata
                    </span>
                </a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a href="{% url 'manageTables' %}" class="nav-link {% block active_tab_manageTables %}{% endblock %} align-middle px-4 " aria-current="page"
                style="color: #EBF2EA;">
                <span class="bi me-2">
                    <span class="fas fa-bars-progress"></span>
                    Metadata Sources
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'aboutCata' %}" class="nav-link  {% block active_tab_aboutCata %}{% endblock %} align-middle px-4 " aria-current="page"
            style="color: #EBF2EA;">
            <span class="bi me-2">
                <span class="fa fa-info-circle"></span>
                About CATA
            </span>
        </a>
    </li>
</ul>
{% endblock %}
<hr>
<div class="dropdown pb-4">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
    id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="bi me-2">
        <strong>{{ user.first_name }}</span></strong>
    </span>
    {% if user.groups.first.name == "Admin" %}
    <span class="badge badge-secondary" style="background-color: #72B7DB; color: #EBF2EA">
        {% elif user.groups.first.name == "Contributor" %}
        <span class="badge badge-secondary" style="background-color: #BDDBEB; color: #0077B6">
            {% elif user.groups.first.name == "Reader" %}
            <span class="badge badge-secondary" style="background-color: #9BCBC8; color: #FAF3DD">
                {% endif %}
                {{ user.groups.first.name }}
            </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logOutModal">
                    Logout
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="col py-3">
    {% block content %}
    
    {% endblock %}
</div>
</div>
</div>

<!-- Logout Modal -->
<div class="modal fade" id="logOutModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="logOutLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #EBF2EA">
        <div class="modal-body" style="color: #0077B6;">
            <h1 class="h4 text-center">
                Are you sure you want to Logout?
            </h1>
        </div>
        <div class="modal-footer">
            <div class="col text-center">
                <a href="{% url 'login' %}">
                    <a href="{% url 'logout' %}" class="btn btn-outline-light" style="background-color: #0077B6; color: #EBF2EA;">
                        Yes
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </a>
                <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal"
                style="background-color: #b06868; color: #EBF2EA;">
                Cancel
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
        $(document).ready(function() {
            $('a button').click(function(e) {
                e.preventDefault();
                window.location.href = $(this).parent().attr('href');
            });
        });
    </script>
    
</div>
</div>
</div>
</body>
</html>
